.badge-primary {
  color: $white;
  background: $purple;
}

.badge-warning {
  color: #fff;
  background: $yellow;
}

.badge-success {
  color: #fff;
  background: $green;
}

.badge-muted {
  color: #fff;
  background: $gray;
}
